html::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

html::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-clip: content-box;
}
html::-webkit-scrollbar-thumb {
  /* box-shadow: inset 0 0 6px #2cabbe; */
  background-color: #2cabbe;
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}
